#fireList img {
    width: 500px;
    border-style: groove;
    border-color: black;
    border-width: 5px;
}

header {
    padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: rgb(2, 85, 2);
    border-radius: 15%;
    max-width: 700px;
    font-size: large;
}

body {
    padding: 1rem;
    text-align: center;
    background-image: url("FirePictures/ForestBackground.jpg");
    background-color: #cccccc;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#picDisplay {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
    border-style: groove;
    border-width: 5px;
    border-color: black;
}

#picDisplay {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#fireDetail {
    position: relative;
    align-items: center;
}

#detail-image {
    height: 350px;
    border-style: groove;
    border-width: 3px;
    border-color: black;
    border-radius: 8%;
}

label {
    font-size: x-large;
    font-weight: bold;
}

input,
p {
    font-size: large;
}

textarea {
    width: 300px;
    height: 75px;
}

#hope {
    background-color: hsl(0, 0%, 80%, .6);
    border-radius: 5%;
}

/* #commentForm {
    display:flex;
    vertical-align: top;
} */
